.env
.env.*
!.env.example
.idea
.venv/
venv/
ENV/
env/
__pycache__/
*__pycache__
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.swp
*.db
*.sqlite3
*.log

.DS_Store
Thumbs.db
uv.lock

migrations/versions/__pycache__/
*.pyc
chroma_store